@model SuperPost.Models.Post

@{
    ViewBag.Title = "Create Post";
}

<h2>Create Post</h2>

<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="imageTitle">Image Title</label>
                <input type="text" name="title" id="imageTitle" class="form-control"  placeholder="Title"/>
            </div>
            <div class="form-group">
                <label for="uploadedImage">Upload Image:</label>
                <input type="file" name="uploadedImage" id="uploadedImage" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Create Post" class="form-control"  />
             </div>
            }
     </div>
</div>

@foreach (var item in Model)
{

}

<div>
    @Html.ActionLink("Back to Posts", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
